{% extends "base.html" %}

{% load staticfiles %}

{% block head %}
    <title>Crash Wine</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!--meta property="og:image" content="http://www.friendsmash.com/images/logo_large.jpg"/-->

    <link href="{% static 'css/reset.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/crash_wine/style.css' %}" rel="stylesheet" type="text/css">

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//connect.facebook.net/en_US/sdk.js"></script>

    <script src="{% static 'js/crash_wine/core.js' %}"></script>
    <!--script src="{% static 'js/crash_wine/ui.js' %}"></script-->
    <script src="{% static 'js/crash_wine/game.js' %}"></script>

{% endblock %}

{% block body %}
    <h1 id="fb-welcome"></h1>

    <div id="game_area">
      <div id="start_game">
        <h5>Tap Red Wine</h5>
        <h4>START</h4>
      </div>
    
      <div id="game_board" class="hidden">
        <h4 id="game_score">Score: <span id="score" data-score=0>0</span></h4>
      </div>

      <div id="game_over" class="hidden">
        <h4>Your final score is: <span id="final_score">...</span> </h4>
      </div>
    </div>    
    
{% endblock %}
